
html {
    box-sizing: border-box;
  
  }


*,
*::before,
*::after {
  box-sizing: inherit;
}
  
body {
    background-color: #0A1014;
    color: #fff;
    font-size: 16pt;
    font-weight: 200;
  }

  p {
    font-size: 16pt;
    font-weight: 200;
  }

  .header{
    background-color: transparent;
  }

  .page-content{
    padding: 0px 72px 0 72px;
  }

  input{
    height: 45px;
    width: 100%;
    border-radius: 4px;
  }

  .search{
    position:relative;
    margin: 20px 0 40px;
  }

  .search-icon{
    color: #7A8C99;
    position:absolute;
    left:0px;
    height:100%;
    padding: 12px;
  }
  .search-input {
    padding-left: 40px;
    font-size: 16px;
  }

  .card {
    cursor: pointer;
  }

  .card img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }

  .back-button {
    padding: 0 0 25px 72px;
  }

  .back-button button{
    border: 0;
    background-color: transparent;
    color: #7A8C99;
    cursor: pointer;
  }

  .back-button button .material-icons{
    font-size: 30px;
  }

  .time, h4{
    color: #7A8C99;
  }

  .title{
    font-weight: 600;
    font-size: 70px;
  }

  .ratings{
    display: flex;
  }

  .infos {
    display: flex;
    justify-content: space-between;
  }

  .rating{
    margin-right: 10px;
    padding: 9px 0;

  }

  .rate, .rate-value{
    padding: 7px;
    font-weight: 600;
    border-radius: 4px 0 0 4px;
  }

  .rate-value{
    margin-left: -6px;
    border: 1px solid #7A8C99;
    border-radius: 0 8px 8px 0;
    border-left: 0px;
    height: 37px;
    padding: 6px;
  }
  

  .yellow{
    background: orange;
    color: #0A1014;
  }

  .red{
    background: red;
  }


  .btn-favourites {

    background: transparent !important;
    border: 1px solid #7A8C99;
    border-radius: 4px;
    height: 40px;
    text-transform: inherit;
    color: #7A8C99 !important;
  }

  .list {
    list-style-type: none;
    padding: 0;
    font-size: 16pt;
    font-weight: 200;
  }

  .empty {
    margin: auto;
    padding: 70px;
  }