
html {
    box-sizing: border-box;
  }


*,
*::before,
*::after {
  box-sizing: inherit;
}
  
body {
    background-color: #0A1014;
    color: #fff;
    font-size: 16pt;
  }

  p {
    font-size: 16pt;
  }

  .header{
    background-color: transparent;
  }

  .page-content{
    padding: 20px 72px 0 72px;
  }

  input{
    height: 40px;
    width: 100%;
    border-radius: 4px;
  }